@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap%27");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 150vh;
}

.container {
    width: 100%;
    height: 170vh;
    background: #14213D;
    display: flex;
    align-content: center;
    justify-content: center;
}

form {
   margin-top: 80px;
   margin-bottom: 80px;
   background: #fff; 
   display: flex;
   flex-direction: column;
   padding: 2vw 4vw;
   width: 80%;
   max-width: 600px;
   border-radius: 10px;
   font-family: Arial, Helvetica, sans-serif;
}

form h3 {
    color: #2C2D31;
    font-weight: 600;
    margin-bottom: 20px;
}

form input, form textarea, form select, .radio-rate {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #E5E5E5;
    font-size: 16px;
}

form ::placeholder {
    color: #2C2D31;
    font-family: Arial, Helvetica, sans-serif;
}

form p {
    margin-top: 20px;
    color: #2C2D31;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

form label select {
    color: #2C2D31;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

form button {
    padding: 12px;
    background: rgb(111, 67, 67);
    color: #fff;
    font-size: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

.message {
    width: 100%;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.message .success {
    font-size: 14px;
    color: #2C2D31;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}

.message .not_success {
    font-size: 14px;
    color: #2C2D31;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}

@keyframes buttons {
    0% {
        transform: scale(0.1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

