@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  content: "";
  background: url(../Images/3.jpg);
  backdrop-filter: blur(5px);
  font-family: "Poppins", sans-serif;
}

:root {
  --color-noraml: 200;
  --color-wrong: 0;
  --color-correct: 145;
}

.background {
  height: 96vh;
  background: url(../Images/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-background {
  background-color: #2c2d31;
  width: 900px;
  max-width: 90%;
  min-width: 60%;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 0 5px 2px;
  top: 50%;
  left: 50%;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.question-container {
  justify-content: center;
  align-items: center;
}

.question {
  background-color: #2c2d31;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 1px 1px;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

.invisible {
  position: relative;
  height: 50px;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.stats {
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

.top-right {
  float: right;
}

.top-left {
  float: left;
}

.hidden {
  display: none;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

#time-left {
  font-weight: normal;
  word-spacing: 10px;
  transition-duration: 0.2s;
}

.btn {
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  padding: 10px 10px;
  color: #e5e5e5;
  background-color: #2c2d31;
  font-family: "Poppins", sans-serif;
  outline: none;
  font-weight: bold;
  transition-duration: 0.3s;
  cursor: pointer;
}

.btn:hover {
  color: #d3af42;
  border-width: 2px;
}

.btn.correct {
  background-color: green;
}

.btn.wrong {
  background-color: red;
}

.next-btn {
  align-items: center;
  justify-content: center;
  text-align: center;
  border: lightblue solid 2px;
  color: lightblue;
  width: 200px;
  margin: auto;
  top: 0;
}

.choice-btn:hover {
  border-color: gold;
}

.next-btn:hover {
  background-color: lightblue;
  color: #2c2d31;
}

.start-btn {
  border: #4caf50 solid 2px;
  color: #4caf50;
  background-color: #272727;
  width: 200px;
  text-align: center;
  font-size: 16px;
  margin: auto;
}

.start-btn:hover {
  background-color: #4caf50;
  color: #e5e5e5;
  border-color: #4caf50;
  box-shadow: none;
}

.play-again-btn {
  border: red solid 2px;
  color: red;
  /* background-color: gray; */
  width: 200px;
  text-align: center;
  font-size: 16px;
}
.play-again-btn:hover {
  background-color: red;
  color: #e5e5e5;
  border-color: red;
  /* box-shadow: none; */
}

.go-back-btn {
  margin-left: 10px;
  /* height: 50px; */
  background-color: #2c2d31;
}

.go-back-btn:hover {
  background-color: #e5e5e5;
  color: #2c2d31;
}

#feedback {
  text-shadow: #2c2d31 0 0 5px;
  text-transform: uppercase;
}

#gift-pass {
  display: none;
}

#gift-avarage {
  display: none;
}

#gift-weak {
  display: none;
}

#quiz-notice {
  align-items: center;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
  text-transform: capitalize;
  line-height: 40px;
}

#quiz-notice h1 {
  color: red;
  text-align: center;
  margin-bottom: 5%;
}

.overlay {
  position: absolute;
  align-items: center;
  text-align: center;
  top: 40%;
  left: 50%;
  min-width: 30vw;
  transform: translate(-50%, -50%);
  padding: 50px;
  box-shadow: 0 0 5px 2px;
  border-radius: 5px;
  backdrop-filter: blur(10px);
}

.overlay img {
  width: 64px;
  border-radius: 2px;
  box-shadow: 0 0 5px 1px black;
}
